@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
    margin: 0px;
    font-family: "PT Sans", sans-serif;
    --header-height: 60px;
    --flexing: 0.5;
    --color-li: ghostwhite;
    --color-nav-ul: lavender;
    --color-first-child: grey;
}



p img {
    max-width: 40vw;
}

header>label>img {
    cursor: pointer;
}


@media screen and (min-width: 0px) and (max-width: 1050px) {
    p img {
        max-width: 100%;
    }

    #title-div h1 {
        text-align: right;
        margin-right: 10px !important;
    }

    #menu-control:checked~#label-control {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        z-index: 500;
    }

    #menu-control:checked~nav {
        transform: translateX(0rem);
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
        visibility: visible;
    }

    #label-control-menu {
        display: inline;
        margin: auto 10px;
        flex: var(--flexing);
    }

    #title-div {
        flex: calc(1 - var(--flexing));
    }
}

#label-control-menu>svg {
    margin: 0px;
}

input.toggle {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

.hidden {
    display: none;
}

header {
    position: fixed;
    width: 100vw;
    background-color: whitesmoke;
    height: var(--header-height);
    display: flex;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.open-button {
    flex: 0;
    display: none;
}

#title-div {
    flex: 1;
    text-align: center;
    font-family: "Segoe UI", Ubuntu, Sans-Serif;
    font-weight: bold;
}

code {
    word-break: break-all;
}

pre::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: #888;
}

pre::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#title-div h1 {
    margin: 14px auto;
}


#titleNav {
    text-align: center;
}


#contenuMain {
    position: fixed;
    right: 0px;
    top: var(--header-height);
    width: 80vw;
    height: calc(100vh - var(--header-height));
    padding: 50px;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 70px;
    font-family: 'Segoe UI', Ubuntu, sans-serif;
}

#globalReadMe {
    font-size: 1.15em;
}


@media screen and (min-width: 0px) and (max-width: 1050px) {
    .open-button {
        display: block;
        height: 5vh;
        flex: 0.1;
    }


    #contenuMain {
        width: 100vw;
    }

    #titleNav {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #globalReadMe {
        font-size: 0.9em;
    }

    #globalReadMe>ul {
        padding-inline-start: 20px;
    }

    #globalReadMe>blockquote>ul {
        padding-inline-start: 20px;
    }
}


/* KATEX */

.katex-html .base {
    margin-bottom: 5px;
}


.katex-center {
    display: flex;
}

.katex-center>span {
    margin: auto;
    background: lightcyan;
    padding: 10px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
}


pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

@media screen and (min-width: 512px) {
    #contenuMain::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #contenuMain::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    #contenuMain::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    #contenuMain::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}