@media screen and (min-width: 512px) {
    nav::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    nav::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    nav::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    nav::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

nav ul > li {
    padding: 0px;
}

nav ul > li > span {
    padding: 10px;
}

nav ul > li > a {
    padding: 10px;
    padding-left: 20px;
}

.selected-menu > span::after {
    content: "⬅️";
}

nav ul > div > div {
    border-top: 1px solid black;
    display: flex;
}

nav ul > div > div > span {
    padding: 10px;
}

nav ul > div > div > label {
    padding: 10px;
}

nav > ul > div:last-child {
    border-bottom: 1px solid black;
}

nav {
    z-index: 100;
    position: fixed;
    top: var(--header-height);
    width: 20vw;
    height: calc(100vh - var(--header-height));
    background-color: snow;
    border-right: 2px solid black;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.2s ease-in-out;
    transition-property: transform, margin, opacity, visibility;
    will-change: transform, margin, opacity;
}

#label-control-menu {
    cursor: pointer;
    flex: 0;
    display: none;
}

.search-input {
    display: flex;
    align-items: center;
    padding: 10px;
    outline: none;
}
.search-input input {
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px;
}

nav div input:checked ~ div .menu-button:last-child::after {
    content: "-";
}

nav div input:checked ~ ul li {
    display: flex;
}

.menu-button {
    background: none;
    border: none;
    font-size: 1em;
    pointer-events: none;
}

nav div div .menu-button:last-child::after {
    content: "+";
}

nav div div label span:first-child {
    flex: 0.98;
}

nav div div label {
    display: flex;
    flex: 1;
    cursor: pointer;
    padding-left: 10px;
    margin: 0;
}

nav > ul > div > ul > li:first-child {
    border-top: 1px solid var(--color-first-child);
}

nav > ul > div > ul > li {
    border-top: 1px dashed var(--color-first-child);
}

nav > ul > li {
    background-color: var(--color-li);
    display: flex;
}

nav ul ul > li {
    display: none;
    margin: 0px;
    background-color: var(--color-li);
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

nav li {
    margin: 0px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    flex: 0.96;
    padding-left: 10px;
}

nav ul {
    padding-inline-start: 0px;
    overflow: hidden;
    margin: 0px;
    background-color: var(--color-nav-ul);
}

nav p {
    margin: 0px;
}

nav ul p {
    padding-left: 10px;
}

@media screen and (min-width: 0px) and (max-width: 1050px) {
    nav {
        width: 16rem;
        transform: translateX(-16rem);
    }
    #label-control-menu {
        display: inline;
        margin: auto 10px;
        flex: var(--flexing);
    }
}

#label-control-menu > svg {
    margin: 0px;
}
